<!DOCTYPE html>{% load static i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BeerClub{% endblock title %}</title>
    <link rel='stylesheet' href={% static "css/style.css" %}>
</head>
<body>
    <header>
        <span class="logo">BeerClub</span>
        <ul class="nav">
            <li><a href="{% url "index" %}">Main</a></li>
            <li><a href="{% url "review_list" %}">Review</a></li>
        </ul>
        <span class="spacer"></span>
        <ul class="nav">
            {% if request.user.is_authenticated %}
                <li><a href="{% url "user_detail_current" %}">{{ user }}</a></li>
                {% if user.is_superuser or user.is_staff %}
                    <li><a href="{% url "admin:index" %}">Admin</a></li>
                {% else %}
                    <li><a href="{% url "ticket_list" %}">{% trans "tickets" %}</a></li>
                {% endif %}
                <li><form method="post" action="{% url "logout" %}">{% csrf_token %}
                <button type="submit">{% trans "log out"|capfirst %}</button></form></li>
            {% else %}
                <li><a href="{% url "login" %}">{% trans "log in"|capfirst %}</a></li>
                <li><a href="{% url "signup" %}">{% trans "sign up"|capfirst %}</a></li>
            {% endif %}
        </ul>
    </header>
    <section class="messages">
        {% for message in messages %}
            <p class="message message-{{ message.tags }}">{{ message }}
        {% endfor %}
    </section>
    <main>{% block content %}{% endblock content %}</main>
    <footer>
        {% block footer %}{% endblock footer %}
        <p>&copy; 2024 BeerClub 
            <a style="float:right;" href="https://www.guinness.com/en">"Our sponsor Guinness brewery"</a>
            <a style="float:right;" href="https://www.guinness.com/en" target="blank"><img style="float:right;" src="{% static "img/guinness.png" %}">
        </p>
    </footer>
</body>
</html>