{% extends "base.html" %}{% load i18n %}
{% block title %}{{ block.super }} list{% endblock title %}
{% block content %}
<h1>Review</h1>
<div class="toolbar">
    <a class="button" href="{% url "review_create" %}">{% trans "create new review" %}</a>
</div>
<ul>
    {% for review in review_list %}
        <li>
            <a href="{% url 'review_detail' review.pk %}">{{ review.name }}</a>
            <span style='float:right;'>{{ review.date }}</span>
        </li>
    {% endfor %}
</ul>
{% endblock content %}