{% extends "base.html" %}{% load static i18n %}
{% block title %}{{ block.super }} list
{% endblock title %}{% block content %}
  <h1>Review</h1>
  <div class="toolbar">
    <a class="button" href="{% url "review_create" %}">{% trans "Create new review" %}</a>
  </div>
  <ul class="review-list">
    {% for review in review_list %}
      <li>
        <button class="review-button" onclick="window.location='{% url 'review_detail' review.pk %}'">
          <img src="{% static 'img/favicon.png' %}" alt="Favicon" class="favicon">
          {{ review.name }}
          <span class="date">{{ review.date }}</span>
        </button>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}