{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ type.kinds }} | {{ block.super }}{% endblock title %}
{% block content %}
<h1>{{ type.name }}</h1>
<p>{% trans "Kind" %}: {{ type.kinds }}</p>
<h2>{% trans "Reviews" %}</h2>
{% if reviews %}
    <ul>
        {% for review in reviews %}
            <li>
                <a href="{% url 'review_detail' review.pk %}">{{ review.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>{% trans "No reviews found" %}</p>
{% endif %}
{% endblock content %}