{% extends "base.html" %}{% load i18n %}
{% block title %}{{ type.kinds }} | {{ block.super }}{% endblock title %}
{% block content %}
  <h1>{{ type.name }}</h1>
  <h2>{% trans "Reviews" %}</h2>
  <div class="review-buttons">
    {% if reviews %}
      {% for review in reviews %}
        <button class="review-button" onclick="window.location='{% url 'review_detail' review.pk %}'">
          {{ review.name }}
        </button>
      {% endfor %}
    {% else %}
      <p>{% trans "No reviews found" %}</p>
    {% endif %}
  </div>
{% endblock content %}